.ui.header.headerStyle {
	margin-bottom: 5vh;
	font-size: 5rem;
}
.ui.segment {
	background: rgba(246, 246, 246, 0.363);
}
.ui.inverted.last {
	margin-bottom: 6vh;
}
img {
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.ui.text.container {
	display: flex;
	flex-direction: column;
}
.ui.button.map-style {
	width: 5em;
	display: flex;
	justify-content: center;
	align-self: center;
	background: white;
	border: 2px solid rgba(0, 0, 0, 0.356);
	.map.icon.big.icon-style {
		margin: 0;
	}
}
